################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Interpreter
/Interpreter/bin
/Interpreter/obj
/InterpreterTests/bin
/InterpreterTests/obj
/Interpreter/Properties/launchSettings.json
